<% provide(:title, 'Trades') %>
<html>
  <head>
    <title>Glowing Cyril| <%= yield(:title) %></title>
  </head>
  <body>
    <p>
      This page shows trade <%= @trade.id %> 
    </p>
    <div>
      <%= render 'shared/trade_table' %>
    </div>

    <p class="test_keywords">Buy buy Sell sell MTM Value</p>

  </body>
</html>
